.View {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    padding: 15px;
    background-color: rgba(233, 234, 230, 0.69);
    color: var(--second-color);
    border: 10px double var(--fifth-color);
    font-size: 100px;
}

.Square {
    position: relative;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--first-color);
    padding: 10px 50px;
    max-width: 550px;
    height: 650px;
}

.TitleWelcome {
    color: var(--third-color);
    font-size: 75px;
}

.TextWelcome {
    color: var(--third-color);
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 2rem;
}

.TextWelcome2 {
    text-align: center;
    font-size: 25px;
}

.ButtonWelcome {
    padding: 10px 20px;
    border: transparent;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    color: var(--first-color);
    background-color: var(--third-color);
    margin-top: 20px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5);

}


.Background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}