.View{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title{    
    padding: 15px;
    background-color: rgba(233, 234, 230, 0.69);
    color: var(--second-color);
    border: 10px double var(--fifth-color);
    /* border: 5px double var(--second-color); */
    font-size: 100px;
}

/* .Title .Square1 {
    background-color: black;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 3 px solid black;
} */

.RegisterForm{
    /* border: 5px solid var(--fifth-color);    */
    border-radius:25px 25px 25px 25px;
    -moz-border-radius:25px 25px 25px 25px;
    -webkit-border-radius:25px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--first-color);
    padding: 25px;
    width: 500px;
    height: 650px;
}

.RegisterTitle{
    color: var(--third-color);
    font-size: 75px;
    margin-bottom: -1px;
}

.FormButton{
    padding: 10px 20px;
    border: transparent;
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    color: var(--first-color);
    background-color: var(--third-color);
    margin-top: 20px ;
}

.LoginLink{
    margin-top: 65px ;
    color: var(--third-color);
}

.Background{
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
top: 0;
}