.Input{
    border: transparent;
    background-color:var(--fourth-color);
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    margin-top: .3rem;
    padding: .45rem;
    text-align: center;
    color: var(--third-color);
}